Repository dd-ix/nix-config, pull requests merged in 2023-07, with the labels that each got.

#1 nginx config for website and project structure
  flake.lock
  flake.nix
  keys/ssh/melody
  keys/ssh/tassilo
  modules/dd-ix/base.nix
  modules/dd-ix/default.nix
  modules/dd-ix/general-options.nix
  modules/management/base.nix
  modules/management/default.nix
  modules/management/nginx.nix
  modules/management/website.nix
  pkgs/ixp-manager.nix
Labels: enhancement

#3 adding keycloak
  .sops.yaml
  flake.lock
  flake.nix
  hosts/mno001/configuration.nix
  keys/gpg/melody.asc
  keys/gpg/tassilo.asc
  modules/management/default.nix
  modules/management/keycloak.nix
  modules/management/sops.nix
  modules/management/website.nix
  secrets/management/secrets.yaml
Labels: enhancement, services, auth, management

#4 added nextcloud module
  modules/management/default.nix
  modules/management/nextcloud.nix
  secrets/management/secrets.yaml
Labels: enhancement, services, management
